/***********************************************************************************************************************************************************************************************************/
/* Import */

/* Import */
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/


/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General Styles*/

/* Light Mode Styles */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

.containerRB {
    text-align: center;
    margin-top: 50px;
}
/* Light Mode Styles */

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: var(--text-color);
}

#darkModeToggleRB {
    border-radius: var(--button-border-radius);
    border: none;
    cursor: pointer;
    position: absolute;
    top: var(--button-position-from-top); 
    right: var(--button-position-from-right); 
}

#darkModeIcon {
    width: var(--button-width-size);  /* Adjust size as needed */
    padding: 5px;
    height: var(--button-height-size); /* Adjust size as needed */
}


body.dark-mode #darkModeToggleRB {
    background-color: var(--button-background-color-on); /* Light color for dark mode */
}

/* Button color when dark mode is not active */
body:not(.dark-mode) #darkModeToggleRB {
    background-color: var(--button-background-color-off); /* Transparent color for light mode */
}

/* Dark Mode Styles */

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){

}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*PC*/
@media all and (min-width:642px){
    /*Navigation Area*/
    
}
/*PC*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
