/***********************************************************************************************************************************************************************************************************/
/* Import */

/* Import */
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/


/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General Styles*/

/* Light Mode Styles */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

.containerRB {
    text-align: center;
    margin-top: 50px;
}
/* Light Mode Styles */

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: var(--text-color);
}

.containerRB {
    text-align: center;
    margin-top: 50px;
}

#darkModeToggleRB {
    border-radius: var(--button-border-radius);
    border: none;
    cursor: pointer;
    position: absolute;
    top: var(--button-position-from-top);
    right: var(--button-position-from-right);
    background-size: fill; /* Ensure the image fits the button */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    width: var(--button-width-size);
    height: var(--button-height-size);
    padding: 10px;
}

/* Light Mode Styles */
body:not(.dark-mode) #darkModeToggleRB {
    background-color: var(--button-background-color-off);
}

/* Dark Mode Styles */
body.dark-mode #darkModeToggleRB {
    background-color: var(--button-background-color-on);
}

/* Dark Mode Styles */

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){

}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*PC*/
@media all and (min-width:642px){
    /*Navigation Area*/
    
}
/*PC*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
