/***********************************************************************************************************************************************************************************************************/
/* Import */

/* Import */
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Root*/

/* Root */
/***********************************************************************************************************************************************************************************************************/


/* Global styling for the body */
body {
    font-family: Arial, sans-serif;
}


/* Custom button styling */
.custom-button-RB {
    display: flex;
    justify-content: space-between; /* Spread the text and icon apart */
    align-items: center; /* Vertically center the content */
    font-family: var(--button-font-RB);
    font-size: var(--button-font-size-RB);
    padding: 12px 16px;
    border: none;
    border-radius: var(--button-border-radius-RB);
    cursor: pointer;
    position: absolute;
    top: var(--buttonRB-from-top); /* Vertical position */
    left: var(--buttonRB-from-left); /* Horizontal position */
    background: linear-gradient(to right, #388E3C 70%, #66bb6a 30%); /* Left side for text (70%) and right side for icon (30%) */
    color: var(--button-text-color-RB);
    width: var(--button-size-RB); /* Make the button width responsive */
    z-index: 10;

}

/* Text styling */
.button-text-RB {
    white-space: nowrap;
    font-weight: bold;
    margin-left: var(--textRB-margin-from-left); /* Space between the left edge and text */

}

/* Icon styling */
.button-icon-RB {
    width: var(--button-icon-size-RB);
    height: var(--button-icon-size-RB);
    margin-right: var(--iconRB-from-right); /* Space between the icon and the button edge */
    background-color: transparent; /* Icon should be without a background */

}

/* Hover effect: Slightly change background */
.custom-button-RB:hover {
    background: linear-gradient(to right, #66bb6a 70%, #388E3C 30%); /* Reverse the colors on hover */
}

/* Active state: Darker background on click */
.custom-button-RB:active {
    background: linear-gradient(to right, #4CAF50 70%, #66bb6a 30%); /* Darker background on click */
}