/***********************************************************************************************************************************************************************************************************/
/* Import */

/* Import */
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {

}
/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General Styles*/

/* Light Mode Styles */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;  
}

.container {
    text-align: center;
    margin-top: 50px;
}
/* Light Mode Styles */

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: var(--text-color);
}

#darkModeToggle {
    background-color: var(--button-background-color);
    border: none;
    cursor: pointer;
    font-size: var(--button-font-size);
    margin-top: var(--button-margin-top);
    transition: var(--button-transition);
    position: absolute;
    top: var(--button-button-position-from-top); 
    right: var(--button-button-position-from-right);  
    border-radius: var(--button-border-radius);
}


#darkModeToggle:hover {
    background-color: var(--button-hover-color);
}

/* Dark Mode Button style when active */
#darkModeToggle:hover {
    background-color: var(--button-hover-color);
    border-radius: var(--button-border-radius);
}

/*General Styles*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){

}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*PC*/
@media all and (min-width:642px){
    /*Navigation Area*/
    
}
/*PC*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
    
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/
